<h1 translate>Sign In</h1>
<div class="login-form-container">
	<div class="row h-100">
		<form class="col-12" [formGroup]="loginForm" (ngSubmit)="submit()">
			<small *ngIf="error$ | async" class="form-text alert alert-danger" translate>
				Invalid username or password!
			</small>
			<div class="form-group">
				<label for="id" translate>Email address or username</label>
				<input type="id" class="form-control" id="id"
					   formControlName="id"
					   aria-describedby="idHelp"
					   placeholder="{{ 'Enter email or username' | translate }}">
				<small *ngIf="loginForm.get('id').touched && loginForm.get('id').errors"
					   class="form-text alert alert-danger"
					   translate>Missing username or email address.</small>
			</div>
			<div class="form-group">
				<label for="password" translate>Password</label>
				<input type="password" class="form-control" id="password"
				       formControlName="password"
				       placeholder="{{ 'Password' | translate }}" />
				<small *ngIf="loginForm.get('password').touched && loginForm.get('password').errors"
					   class="form-text alert alert-danger"
					   translate>Missing password.</small>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input" id="persistant"
				       formControlName="persistant">
				<label class="form-check-label"
				       for="persistant" translate>Remember me!</label>
			</div>
			<button type="submit" class="btn btn-success btn-block"
					translate>Login</button>
			<div class="login-options">
				<p>
					<span translate>Don't have an account?</span>
					&nbsp;
					<a routerLink="/registration" translate>Register!</a>
					<br />
					<a routerLink="/reset-password" translate>Forgot your password?</a>
				</p>
			</div>
		</form>
	</div>
	<div *ngIf="hasOAuth$ | async"
			class="row">
		<div class="col-12 login-or">
			<hr class="login-hr-or">
			<span *ngIf="hasOAuthFacebook$ | async"
				class="login-span-or" translate>or</span>
			<button *ngIf="hasOAuthFacebook$ | async" type="submit" class="btn btn-primary btn-facebook btn-block"
				(click)="signInWithFacebook()" translate>
				<span class="fab fa-facebook-f"
					  title="{{ 'Login with Facebook' | translate}}"
					  aria-hidden="true"></span>
				&nbsp;
				<span translate>Login with Facebook</span>
			</button>
			<button *ngIf="hasOAuthGoogle$ | async" type="submit" class="btn btn-primary btn-google btn-block"
				(click)="signInWithGoogle()" translate>
				<span class="fab fa-google"
					  title="{{ 'Login with Google' | translate}}"
					  aria-hidden="true"></span>
				&nbsp;
				<span translate>Login with Google</span>
			</button>
		</div>
	</div>
</div>
