.login-form-container {
	width: 412px;
}

.form-check-label {
	margin-bottom: 1rem;
}

.login-or {
	position: relative;
	font-size: 1.2rem;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.login-or .login-hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.login-or .login-span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.4rem;
	margin-left: -1.5rem;
	background-color: white;
	width: 3rem;
	text-align: center;
}

.btn-facebook {
	margin-top: 1.5rem;
	background-color: #3b5998;
	border: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
	background-color: #2d4373;
}

.btn-google {
	margin-top: 1.5rem;
	background-color: #dd4b39;
	border: rgba(0, 0, 0, 0.2);
}

.btn-google:hover {
	background-color: #c23321;
}

.button:hover {
	text-decoration: none;
}
