<div class="modal-header">
	<h4 class="modal-title">Logout</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="activeModal.dismiss('closed')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p translate>Are you sure to logout?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary"
		(click)="activeModal.dismiss('cancel')"
		[attr.arial-label]="'Cancel' | translate" translate>
		Cancel
	</button>
	<button type="button" class="btn btn-primary btn-default"
		(click)="activeModal.close('logout')"
		ngbAutofocus [attr.arial-label]="'Logout' | translate" translate>
		Logout
	</button>
</div>
