<h1 translate>Registration</h1>
<div class="registration-form-container">
	<div class="row h-100">
		<form class="col-12" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="email" translate>Email address</label>
				<input formControlName="email" type="email"
				       class="form-control" id="email"
				       placeholder="{{ 'Enter email address' | translate }}">
				<small *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors && registrationForm.get('email').errors.email"
					   class="form-text alert alert-danger"
					   translate>Invalid or missing email address.</small>
			</div>
			<div class="form-group">
				<label for="password" translate>Password</label>
				<input formControlName="password" type="password"
				       class="form-control" id="password" placeholder="{{ 'Password' | translate }}">
				<small *ngIf="registrationForm.get('password').touched && registrationForm.get('password').errors && registrationForm.get('password').errors.required"
					   class="form-text alert alert-danger" translate>This field is required.</small>
				<small *ngIf="registrationForm.get('passwordStrength').value !== null"
					   class="form-text text-muted"
					   translate [translateParams]="{ strength: registrationForm.get('passwordStrength').value }">
					Password strength: [[strength]]
				</small>
				<div *ngIf="registrationForm.errors && registrationForm.errors.weakPassword">
					<small *ngIf="registrationForm.errors.weakPassword.feedback.warning === ''"
					       class="form-text alert alert-danger" translate>
						Password too weak!
					</small>
					<small *ngIf="registrationForm.errors.weakPassword.feedback.warning !== ''"
						   class="form-text alert alert-danger">
						{{ registrationForm.errors.weakPassword.feedback.warning }}
					</small>
					<ul *ngIf="registrationForm.errors.weakPassword.feedback.suggestions.length">
						<li *ngFor="let s of registrationForm.errors.weakPassword.feedback.suggestions">
							<small class="form-text text-muted">{{ s }}</small>
						</li>
					</ul>
				</div>
				<input formControlName="passwordStrength" type="hidden" />
			</div>
			<div class="form-group">
				<label for="password2" translate>Repeat password</label>
				<input formControlName="password2" type="password"
					   class="form-control" id="password2" placeholder="Repeat password">
				<small *ngIf="registrationForm.get('password').touched && registrationForm.get('password2').errors && registrationForm.get('password2').errors.required"
				       class="form-text alert alert-danger" translate>This field is required.</small>
				<small *ngIf="registrationForm.errors && registrationForm.errors.passwordMismatch"
				       class="form-text alert alert-danger" translate>The passwords do not match.</small>
			</div>
			<button type="submit" [disabled]="!registrationForm.valid"
			        class="btn btn-success btn-block" translate>Registration</button>
		</form>
	</div>
</div>
