    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
	</a>
	<app-header></app-header>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <app-sidebar></app-sidebar>
        </div>

        <div class="d-none d-xl-block col-xl-2 bd-toc">
          <ul class="section-nav">
            <li class="toc-entry toc-h2">
              <a href="#">Main Headline 1</a>
              <ul>
                <li class="toc-entry toc-h3"><a href="#">Sub Headline</a></li>
                <li class="toc-entry toc-h3"><a href="#">Sub Headline</a></li>
              </ul>
            </li>
            <li class="toc-entry toc-h2"><a href="#">Main Headline 2</a></li>
            <li class="toc-entry toc-h2">
              <a href="#">Main Headline  3</a>
              <ul>
                <li class="toc-entry toc-h3"><a href="#">Item</a></li>
                <li class="toc-entry toc-h3"><a href="#">Item</a></li>
                <li class="toc-entry toc-h3"><a href="#">Item</a></li>
                <li class="toc-entry toc-h3"><a href="#">Item</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
