<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      Lingua::Poly <small class="d-block mb-3 text-muted">&copy; 2018 <a href="http://www.cantanea.com/" target="_blank">cantanea</a></small>
    </div>
    <div class="col-6 col-md">
      <h5>Source Code</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" 
               href="https://github.com/gflohr/Lingua-Poly">Github</a></li>
        <li><a class="text-muted"
               href="https://github.com/gflohr/Lingua-Poly/issues">Report a bug</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Legal</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/legal-statement">Legal Statement</a></li>
        <li><a class="text-muted" href="/data-privacy">Data Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
