<h1 translate>Reset Password</h1>
<div class="change-password-form-container">
	<div class="row h-100">
		<form class="col-12" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"
			  [appConnectForm]="user$ | async">
			<input type="hidden" formControlName="token" />
			<div class="form-group">
				<label for="password" translate>New password</label>
				<input formControlName="password" type="password"
				       class="form-control" id="password" placeholder="{{ 'Password' | translate }}">
				<small *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors && changePasswordForm.get('password').errors.required"
					   class="form-text alert alert-danger" translate>This field is required.</small>
				<small *ngIf="changePasswordForm.get('passwordStrength').value !== null"
					   class="form-text text-muted"
					   translate [translateParams]="{ strength: changePasswordForm.get('passwordStrength').value }">
					Password strength: [[strength]]
				</small>
				<div *ngIf="changePasswordForm.errors && changePasswordForm.errors.weakPassword">
					<small *ngIf="changePasswordForm.errors.weakPassword.feedback.warning === ''"
					       class="form-text alert alert-danger" translate>
						Password too weak!
					</small>
					<small *ngIf="changePasswordForm.errors.weakPassword.feedback.warning !== ''"
						   class="form-text alert alert-danger">
						{{ changePasswordForm.errors.weakPassword.feedback.warning }}
					</small>
					<ul *ngIf="changePasswordForm.errors.weakPassword.feedback.suggestions.length">
						<li *ngFor="let s of changePasswordForm.errors.weakPassword.feedback.suggestions">
							<small class="form-text text-muted">{{ s }}</small>
						</li>
					</ul>
				</div>
				<input formControlName="email" type="hidden" />
				<input formControlName="username" type="hidden" />
				<input formControlName="passwordStrength" type="hidden" />
			</div>
			<div class="form-group">
				<label for="password2" translate>Repeat password</label>
				<input formControlName="password2" type="password"
					   class="form-control" id="password2" placeholder="Repeat password">
				<small *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password2').errors && changePasswordForm.get('password2').errors.required"
				       class="form-text alert alert-danger" translate>This field is required.</small>
				<small *ngIf="changePasswordForm.errors && changePasswordForm.errors.passwordMismatch"
				       class="form-text alert alert-danger" translate>The passwords do not match.</small>
			</div>
			<button type="submit" [disabled]="!changePasswordForm.valid"
			        class="btn btn-success btn-block" translate>Submit</button>
		</form>
	</div>
</div>
