          <span></span>
          <nav class="collapse bd-links" id="bd-docs-nav">
            <div class="bd-toc-item">
              <a class="bd-toc-link bd-toc-language" href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg" height="32" class="bd-toc-flag" />
                Finnish
              </a>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#">Features</a>
              <ul class="nav bd-sidenav">
                <li class="active bd-sidenav-active"><a href="#">{{ 'Start' | translate  }}</a></li>
                <li><a href="#">{{ 'Search word' | translate }}</a></li>
                <li><a href="#">{{ 'Analyze Text' | translate }}</a></li>
              </ul>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#">My Lingua::Poly</a>
              <ul class="nav bd-sidenav">
                <li><a href="#">Register</a></li>
                <li><a routerLink="/login" routerLinkActive="active bd-sidenav-active">{{ 'Sign-In' }}</a></li>
                <li><a href="#">Why register?</a></li>
              </ul>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#">Legal</a>
              <ul class="nav bd-sidenav">
                <li><a href="#">Legal Statement</a></li>
                <li><a href="#">Data Privacy Policy</a></li>
              </ul>
            </div>
          </nav>
