<h1 class="col-12" translate>Profile</h1>
<div class="col-12 pl-form-lead" translate>
All of this information is optional.  You can delete it at any point by
saving an empty value.
</div>
<form class="col-12" [formGroup]="profileForm" (ngSubmit)="onSubmit()"
      [connectForm]="user$ | async">
	<div class="form-group">
		<label for="username" translate>Username</label>
		<input formControlName="username" type="text"
		       class="form-control" id="username"
		       aria-describedby="usernameHelp">
		<input formControlName="originalUsername" type="hidden">
		<small id="usernameHelp" class="form-text text-muted">
			Your optional username may be visible for other users.
		</small>
		<small *ngIf="profileForm.get('username').touched && profileForm.get('username').errors && profileForm.get('username').errors.space"
			class="form-text alert alert-danger"
			translate>Leading or trailing space is not allowed.</small>
		<small *ngIf="profileForm.get('username').touched && profileForm.get('username').errors && profileForm.get('username').errors.slash"
			class="form-text alert alert-danger"
			translate>You cannot use a slash in your username.</small>
		<small *ngIf="profileForm.get('username').touched && profileForm.get('username').errors && profileForm.get('username').errors.atSign"
			class="form-text alert alert-danger"
			translate>You cannot use an at sign in your username.</small>
		<small *ngIf="!profileForm.get('username').pristine && profileForm.get('username').errors && profileForm.get('username').errors.unavailable"
			class="form-text alert alert-danger"
			translate>This name is already taken.</small>
	</div>
	<div class="form-group">
		<label for="username" translate>Homepage</label>
		<input formControlName="homepage" type="url"
			class="form-control" id="homepage"
			aria-describedby="homepageHelp">
		<small id="homepageHelp" class="form-text text-muted">
			This is also visible for other users.
		</small>
		<small *ngIf="profileForm.get('homepage').touched && profileForm.get('homepage').errors && profileForm.get('homepage').errors.scheme"
			class="form-text alert alert-danger"
			translate>The homepage must start with "https://" or "http://".</small>
		<small *ngIf="profileForm.get('homepage').touched && profileForm.get('homepage').errors && !profileForm.get('homepage').errors.scheme && profileForm.get('homepage').errors.hostname"
			class="form-text alert alert-danger"
			translate>This is not a valid URL or it is not allowed.</small>
	</div>
	<div class="form-group">
		<label for="description" translate>About Me</label>
		<textarea formControlName="description"
			class="form-control" id="description"
			aria-describedby="descriptionHelp"></textarea>
		<small id="descriptionHelp" class="form-text text-muted">
			Say something about yourself
		</small>
	</div>
	<div class="float-right">
		<button class="btn btn-link" translate>Cancel</button>
		<button class="btn btn-primary" [disabled]="!profileForm.dirty || !profileForm.valid"
			translate>Save</button>
	</div>
</form>
