<form>
	<div class="form-group">
		<label for="username" translate>Username</label>
		<input type="text" class="form-control" id="username"
			aria-describedby="usernameHelp">
		<small id="usernameHelp" class="form-text text-muted">
			Your optional username may be visible for other users.
		</small>
	</div>
	<div class="form-group">
		<label for="username" translate>Homepage</label>
		<input type="url" class="form-control" id="homepage"
			aria-describedby="homepageHelp">
		<small id="homepageHelp" class="form-text text-muted">
			This is also visible for other users.
		</small>
	</div>
	<div class="form-group">
		<label for="aboutMe" translate>About Me</label>
		<textarea class="form-control" id="aboutMe"
				aria-describedby="aboutMeHelp"></textarea>
		<small id="aboutMeHelp" class="form-text text-muted">
			Say something about yourself
		</small>
	</div>
	<div class="float-right">
		<button class="btn btn-link" translate>Cancel</button>
		<button class="btn btn-primary" translate>Save</button>
	</div>
</form>
