<h1 translate>Reset Password</h1>
<div class="reset-password-form-container">
	<div class="row h-100 instructions" translate>
		<div class="col-12">
			Please fill in your email address or username, and we will send
			you an email with instrucutions how to set a new password.
		</div>
	</div>
	<div class="row h-100">
		<form class="col-12" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="id" translate>Email address or username</label>
				<input type="text" class="form-control" id="id"
					   formControlName="id"
					   aria-describedby="idHelp"
					   placeholder="{{ 'Enter email or username' | translate }}">
				<small *ngIf="resetPasswordForm.get('id').touched && resetPasswordForm.get('id').errors"
					   class="form-text alert alert-danger"
					   translate>Missing username or email address.</small>
			</div>
			<button type="submit" class="btn btn-success btn-block"
			        [disabled]="!resetPasswordForm.dirty || !resetPasswordForm.valid"
					translate>Submit</button>
		</form>
	</div>
</div>
