          <span></span>
          <nav class="collapse bd-links" id="bd-docs-nav">
            <div class="bd-toc-item">
              <a class="bd-toc-link bd-toc-language" href="#">
				<img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Finland.svg"
				     height="32" class="bd-toc-flag" />
                {{ 'Finnish' | translate }}
              </a>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#" translate>Features</a>
              <ul class="nav bd-sidenav">
                <li><a routerLink="/"
                       routerLinkActive="active bd-sidenav-active" translate>Start</a></li>
                <li><a href="#" translate>Search word</a></li>
                <li><a href="#" translate>Analyze text</a></li>
              </ul>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#" translate>My Lingua::Poly</a>
              <ul class="nav bd-sidenav">
                <li><a routerLink="/registration" routerLinkActive="active bd-sidenav-active" translate>Register</a></li>
                <li><a routerLink="/login" routerLinkActive="active bd-sidenav-active" translate>Sign-in</a></li>
                <li><a href="#" translate>Why register?</a></li>
              </ul>
            </div>
            <div class="bd-toc-item">
              <a class="bd-toc-link" href="#" translate>Legal</a>
              <ul class="nav bd-sidenav">
                <li><a routerLink="/legal-disclosure"
                       routerLinkActive="active bd-sidenav-active" translate>Legal Disclosure</a></li>
                <li><a routerLink="/data-privacy"
                       routerLinkActive="active bd-sidenav-active" translate>Data Privacy Statement</a></li>
                <li><a routerLink="/disclaimer"
                       routerLinkActive="active bd-sidenav-active" translate>Disclaimer</a></li>
              </ul>
            </div>
          </nav>
