<div class="modal-header">
	<h4 class="modal-title" translate>Delete Account</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="activeModal.dismiss('closed')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p translate>
		Do you really want to delete your account?
		This cannot be reverted!
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-default"
		(click)="activeModal.dismiss('cancel')"
		[attr.arial-label]="'Cancel' | translate" translate>
		Cancel
	</button>
	<button type="button" class="btn btn-danger"
		(click)="activeModal.close('logout')"
		ngbAutofocus [attr.arial-label]="'Delete Account' | translate" translate>
		Delete Account
	</button>
</div>
